<div class="loader-div" [hidden]="!isLoading">
  <div class="d-flex justify-content-center spinner-wrapper">
    <div class="spinner-grow loader" role="status">
    </div>
  </div>
</div>

<div class="main-div">
  <!-- div just to set background image -->
  <div class="bg">
  </div>
  <div class="container">
    <div class="row" *ngIf="peopleResponse && peopleResponse?.result?.length > 0">
      <div class="col-lg-3 col-md-4 col-sm-1 mb-3" *ngFor="let people of peopleResponse.result">
        <app-person-card [isReadOnlyCard]="false" [people]="people"></app-person-card>
      </div>
    </div>
    <div class="row justify-content-cn" [hidden]="!showPagination">
      <app-paginator [total]="peopleResponse.totalRecords" [currentPage]="paginationRequest.PageNumber"
        [countsPerPage]="peopleResponse.result.length" (currentPageChange)="getPeople($event)">
      </app-paginator>
    </div>
  </div>
</div>
